# DATOS CORREO
OUTLOOK_ACCOUNT=
OUTLOOK_FOLDER=FLYPASS
ONLY_UNREAD=false
DAYS_BACK=0
MARK_AS_READ=false
MOVE_TO_PROCESSED=false

# DIRECTORIOS
DOWNLOAD_DIR=./downloads
PROCESSED_FOLDER=Procesados
LOG_DIR=./logs

# =========================
# SAFIX - APP / LOGIN
# =========================
SAFIX_SHORTCUT=C:\Users\Rentan\Desktop\RENTAN_SSL_TEST.jnlp
SAFIX_WINDOW_TITLE='.*XENCO - Administracion del Sistema.*'
SAFIX_USER=
SAFIX_PASS=

# =========================
# SAFIX - FLUJO / NEGOCIO
# =========================
SAFIX_NIT=900219834
SAFIX_XOT_CODE=XOT05
SAFIX_GOT_CODE=GOT
SAFIX_CAMPO_84=84
SAFIX_CAMPO_05=05
SAFIX_PLACA=HYT426

# =========================
# SAFIX - TIMING (CRÍTICO)
# =========================
SAFIX_FORM_READY_WAIT=25
SAFIX_LOGIN_WAIT=5
SAFIX_PYAUTO_PAUSE=0.55
SAFIX_WRITE_INTERVAL=0.03
SAFIX_WAIT_DEFAULT=0.6
SAFIX_WAIT_LONG=1.0
SAFIX_WAIT_POPUP=1.5

# =========================
# SAFIX - UI
# =========================
SAFIX_TESORERIA_ICON=img.png
SAFIX_VALORES_ICON=valores.png
